[submodule "contrib/glfw"]
	path = contrib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/stb"]
	path = contrib/stb
	url = https://github.com/nothings/stb.git
[submodule "contrib/tinyobjloader"]
	path = contrib/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
